In [1]:
                        ##-- MODEL CONSTRUCTION - 2--##
# Importing libraries

import pandas as pd
import getpass
import math
import numpy as np
#from tqdm import trange
import gc
#import matplotlib.pyplot as plt
#import seaborn as sns
#from sklearn.ensemble import IsolationForest

if getpass.getuser() == "asus":
    file_path = "C:/Users/asus/Desktop/trendyol_data_v2/"
    
if getpass.getuser() == "your computers name":
    file_path = "C:/Users/..desiredlocation..."

In [ ]:
data = pd.read_csv(file_path + 'main_data_final.csv',index_col=0)

Firstly, I'd like to check the format of the test data before training the model. \
We want to make sure that test data is in suitable format.

In [2]:
test_data = pd.read_csv(file_path + 'test_data_v2.csv')

In [6]:
test_data.head(3)

                          id           expected
0   18115|87073974|726348863  will_be_predicted
1  27588|118753298|723169934  will_be_predicted
2   29165|35699988|724122443  will_be_predicted

In [7]:
test_data = test_data.rename({'expected':'is_returned'},axis=1)

In [23]:
test_data['user_id'] = 'xx'
test_data['product_content_id'] = 'xx'
test_data['order_parent_id'] = 'xx'

In [49]:
user_id_list = []
product_id_list = []
order_parent_id_list = []

In [50]:
type(product_id_list)

list

In [51]:
for i in range(len(test_data)):
    string1 = str(test_data.iloc[i].id)
    string_list = string1.split('|')
    user_id_list.append(string_list[0])
    product_id_list.append(string_list[1])
    order_parent_id_list.append(string_list[2])

In [53]:
test_data.head()

,id,is_returned,final,user_id,product_content_id,order_parent_id
0,18115|87073974|726348863,will_be_predicted,726348863,xx,xx,xx
1,27588|118753298|723169934,will_be_predicted,723169934,xx,xx,xx
2,29165|35699988|724122443,will_be_predicted,724122443,xx,xx,xx
3,29969|5893187|722342150,will_be_predicted,722342150,xx,xx,xx
4,35107|93897418|723421057,will_be_predicted,723421057,xx,xx,xx

In [54]:
test_data.tail()

,id,is_returned,final,user_id,product_content_id,order_parent_id
7466,71083899|100019570|728638514,will_be_predicted,728638514,xx,xx,xx
7467,71106534|35624085|725372928,will_be_predicted,725372928,xx,xx,xx
7468,71115350|94438742|725291348,will_be_predicted,725291348,xx,xx,xx
7469,71115350|100017676|725291348,will_be_predicted,725291348,xx,xx,xx
7470,71160557|87073974|726377172,will_be_predicted,726377172,xx,xx,xx

In [59]:
product_id_list[1]

'118753298'

In [60]:
test_data['user'] = user_id_list

In [62]:
test_data['product'] = product_id_list
test_data['order'] = order_parent_id_list

In [63]:
test_data.head()

,id,is_returned,final,user_id,product_content_id,order_parent_id,user,product,order
0,18115|87073974|726348863,will_be_predicted,726348863,xx,xx,xx,18115,87073974,726348863
1,27588|118753298|723169934,will_be_predicted,723169934,xx,xx,xx,27588,118753298,723169934
2,29165|35699988|724122443,will_be_predicted,724122443,xx,xx,xx,29165,35699988,724122443
3,29969|5893187|722342150,will_be_predicted,722342150,xx,xx,xx,29969,5893187,722342150
4,35107|93897418|723421057,will_be_predicted,723421057,xx,xx,xx,35107,93897418,723421057

In [64]:
test_data = test_data.drop(['product_content_id','order_parent_id','user_id'],axis=1)
test_data = test_data.rename({'user':'user_id','product':'product_content_id','order':'order_parent_id'},axis=1)

In [66]:
test_data = test_data.drop(['id','final','user_id'],axis=1)

In [71]:
test_data.head()

  user_id product_content_id order_parent_id        is_returned
0   18115           87073974       726348863  will_be_predicted
1   27588          118753298       723169934  will_be_predicted
2   29165           35699988       724122443  will_be_predicted
3   29969            5893187       722342150  will_be_predicted
4   35107           93897418       723421057  will_be_predicted

In [70]:
test_data = test_data[['user_id','product_content_id','order_parent_id','is_returned']]

In [72]:
test_data.head() #all good.

  user_id product_content_id order_parent_id        is_returned
0   18115           87073974       726348863  will_be_predicted
1   27588          118753298       723169934  will_be_predicted
2   29165           35699988       724122443  will_be_predicted
3   29969            5893187       722342150  will_be_predicted
4   35107           93897418       723421057  will_be_predicted

In [73]:
test_data.to_csv(file_path+'test_data_final.csv',index=False)

Please continue from 'model_construction_v3.ipynb'