In [2]:
                        ##-- Test data join - 2 --##
# Importing libraries

import pandas as pd
import getpass
import math
import numpy as np
#from tqdm import trange
import gc
#import matplotlib.pyplot as plt
#import seaborn as sns
#from sklearn.ensemble import IsolationForest
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score

if getpass.getuser() == "asus":
    file_path = "C:/Users/asus/Desktop/trendyol_data_v2/"
    
if getpass.getuser() == "your computers name":
    file_path = "C:/Users/..desiredlocation..."

In [3]:
test_data = pd.read_csv(file_path + 'test_data_final.csv')
user_data = pd.read_csv(file_path + 'user_data.csv')
product_data = pd.read_csv(file_path + 'product_data.csv')

In [28]:
user_data = pd.read_csv(file_path + 'user_data.csv') #overriding

In [31]:
gc.collect()

22

In [23]:
test_data

       user_id  product_content_id  order_parent_id        is_returned
0        18115            87073974        726348863  will_be_predicted
1        27588           118753298        723169934  will_be_predicted
2        29165            35699988        724122443  will_be_predicted
3        29969             5893187        722342150  will_be_predicted
4        35107            93897418        723421057  will_be_predicted
...        ...                 ...              ...                ...
7466  71083899           100019570        728638514  will_be_predicted
7467  71106534            35624085        725372928  will_be_predicted
7468  71115350            94438742        725291348  will_be_predicted
7469  71115350           100017676        725291348  will_be_predicted
7470  71160557            87073974        726377172  will_be_predicted

[7471 rows x 4 columns]

In [32]:
user_data = user_data.drop_duplicates()

In [33]:
user_data

,user_id,is_elite_user,Bay,Bayan,is_wallet_trx,is_saved_card_trx
0,3941815,0,0,1,0,1
4,15996105,1,0,1,0,0
5,11914979,1,0,1,0,1
13,7087572,0,0,1,0,1
16,3120295,1,0,1,1,0
...,...,...,...,...,...,...
10772551,3524182,0,0,1,1,0
10772561,14483581,0,0,1,0,0
10772566,61030570,0,0,1,0,0
10772568,33791403,1,0,1,1,0
10772604,18901074,0,1,0,0,1

In [17]:
#user_data = user_data.drop(['is_wallet_trx'],axis=1)

In [34]:
test_joined1 = pd.merge(test_data, user_data, on = 'user_id', how = 'left')

In [36]:
gc.collect()

22

In [37]:
test_joined1

,user_id,product_content_id,order_parent_id,is_returned,is_elite_user,Bay,Bayan,is_wallet_trx,is_saved_card_trx
0,18115,87073974,726348863,will_be_predicted,1,0,1,0,0
1,18115,87073974,726348863,will_be_predicted,1,0,1,0,1
2,18115,87073974,726348863,will_be_predicted,1,0,1,1,0
3,27588,118753298,723169934,will_be_predicted,0,0,1,0,1
4,29165,35699988,724122443,will_be_predicted,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...
14691,71083899,100019570,728638514,will_be_predicted,0,0,0,0,0
14692,71106534,35624085,725372928,will_be_predicted,0,0,0,0,0
14693,71115350,94438742,725291348,will_be_predicted,0,0,1,0,1
14694,71115350,100017676,725291348,will_be_predicted,0,0,1,0,1
14695,71160557,87073974,726377172,will_be_predicted,0,0,1,0,0

In [41]:
#user_data = user_data.drop(['is_wallet_trx'],axis=1)
user_data = user_data.drop_duplicates()

In [42]:
test_joined2 = pd.merge(test_data, user_data, on = 'user_id', how = 'left')

In [43]:
test_joined2

,user_id,product_content_id,order_parent_id,is_returned,is_elite_user,Bay,Bayan,is_saved_card_trx
0,18115,87073974,726348863,will_be_predicted,1,0,1,0
1,18115,87073974,726348863,will_be_predicted,1,0,1,1
2,27588,118753298,723169934,will_be_predicted,0,0,1,1
3,29165,35699988,724122443,will_be_predicted,1,0,1,0
4,29969,5893187,722342150,will_be_predicted,0,0,1,0
...,...,...,...,...,...,...,...,...
12466,71083899,100019570,728638514,will_be_predicted,0,0,0,0
12467,71106534,35624085,725372928,will_be_predicted,0,0,0,0
12468,71115350,94438742,725291348,will_be_predicted,0,0,1,1
12469,71115350,100017676,725291348,will_be_predicted,0,0,1,1
12470,71160557,87073974,726377172,will_be_predicted,0,0,1,0

In [51]:
user_data = user_data.drop(['is_elite_user','is_saved_card_trx'],axis=1)
user_data = user_data.drop_duplicates()

In [52]:
test_joined2 = pd.merge(test_data, user_data, on = 'user_id', how = 'left')

In [53]:
test_joined2

,user_id,product_content_id,order_parent_id,is_returned,Bay,Bayan
0,18115,87073974,726348863,will_be_predicted,0,1
1,27588,118753298,723169934,will_be_predicted,0,1
2,29165,35699988,724122443,will_be_predicted,0,1
3,29969,5893187,722342150,will_be_predicted,0,1
4,35107,93897418,723421057,will_be_predicted,0,1
...,...,...,...,...,...,...
7466,71083899,100019570,728638514,will_be_predicted,0,0
7467,71106534,35624085,725372928,will_be_predicted,0,0
7468,71115350,94438742,725291348,will_be_predicted,0,1
7469,71115350,100017676,725291348,will_be_predicted,0,1
7470,71160557,87073974,726377172,will_be_predicted,0,1

In [54]:
len(test_data) == 7471

True

We have to sacrifice three columns for the sake of joining tables. \
We also need to remove those three columns from the model because we cannot use them \
as predictors anymore.

In [57]:
gc.collect()

22

In [60]:
test_joined2.to_csv(file_path+'test_joined2.csv',index=False)

In [59]:
#test_joined3 = pd.merge(test_joined2, product_data, on = 'product_content_id', how = 'left')
#gave memory error again, switching notebook.