In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
data_1a = pd.read_csv('assignment4.1a.csv',parse_dates=True,index_col='Date')

In [ ]:
data_1a.head(3)

In [ ]:
promotion_dates = pd.read_csv('PromotionDates.csv',index_col='Period')

In [ ]:
promotion_dates.head(3)

        StartDate    EndDate
Period
Promo1 2015-02-10 2015-02-17
Promo2 2015-03-15 2015-03-22
Promo3 2015-05-24 2015-06-01

In [ ]:
promotion_dates['StartDate']=pd.to_datetime(promotion_dates['StartDate'])
promotion_dates['EndDate']=pd.to_datetime(promotion_dates['EndDate']) #converting dates to YYYY/MM/DD just like in data_1a

In [ ]:
promotion_dates.head(1) # check if is ok, we see that it is now YYYY/MM/DD

        StartDate    EndDate
Period
Promo1 2015-02-10 2015-02-17

In [ ]:
promotion_dates_firstfour = promotion_dates[:4]  # I need to use the first 4 of them as suggested in the assignment
promotion_dates_firstfour.head()

        StartDate    EndDate
Period
Promo1 2015-02-10 2015-02-17
Promo2 2015-03-15 2015-03-22
Promo3 2015-05-24 2015-06-01
Promo4 2015-06-21 2015-06-28

In [ ]:
data_1a.isnull().values.sum() #checking if there is NA values in data_1a

0

In [ ]:
data_1a.describe() #just looking into the data

          StoreCode   ProductCode  SalesQuantity
count  1.873618e+06  1.873618e+06   1.873618e+06
mean   1.711288e+02  1.663533e+02   2.246632e+00
std    1.014606e+02  7.773282e+01   5.028994e+00
min    1.000000e+00  1.000000e+00  -6.000000e+01
25%    8.100000e+01  1.050000e+02   0.000000e+00
50%    1.700000e+02  1.730000e+02   1.000000e+00
75%    2.640000e+02  2.190000e+02   2.000000e+00
max    3.400000e+02  3.170000e+02   9.120000e+02

In [ ]:
print(max(data_1a['StoreCode']))
print(max(data_1a['ProductCode']))

store_count = len(pd.unique(data_1a['StoreCode']))  
print("Number of distinct stores :",store_count)

product_count = len(pd.unique(data_1a['ProductCode']))  
print("Number of distinct products :",product_count)

340
317
Number of distinct stores : 340
Number of distinct products : 317

In [ ]:
sales_with_promo1_date = data_1a.loc['2015-2-10':'2015-2-17']  #slicing the dataframe with respect to promotion periods
sales_with_promo2_date = data_1a.loc['2015-3-15':'2015-3-22']
sales_with_promo3_date = data_1a.loc['2015-5-24':'2015-6-1']  #ONLY DATE INDICES (will be used a few steps later)
sales_with_promo4_date = data_1a.loc['2015-6-21':'2015-6-28'] #their type is to be kept same as the data_1a (same column count)

In [ ]:
sales_with_promo1 = data_1a.loc['2015-2-10':'2015-2-17']  #slicing the dataframe with respect to promotion periods
sales_with_promo2 = data_1a.loc['2015-3-15':'2015-3-22']  
sales_with_promo3 = data_1a.loc['2015-5-24':'2015-6-1']
sales_with_promo4 = data_1a.loc['2015-6-21':'2015-6-28']  #this code chunk is for adding 'Promotion' column to them

In [ ]:
sales_with_promo1.insert(3, "Promotion", 'Promo1', True) #adding 'Promotion' column to slices
sales_with_promo2.insert(3, "Promotion", 'Promo2', True)
sales_with_promo3.insert(3, "Promotion", 'Promo3', True)
sales_with_promo4.insert(3, "Promotion", 'Promo4', True)

In [ ]:
sales_with_promo1.head(2) #checking if they are ok

            StoreCode  ProductCode  SalesQuantity Promotion
Date
2015-02-10          6            9              0    Promo1
2015-02-10         14            9              0    Promo1

In [ ]:
sales_with_promo2.tail(2)

            StoreCode  ProductCode  SalesQuantity Promotion
Date
2015-03-22        240          315              0    Promo2
2015-03-22        267          315              1    Promo2

In [ ]:
sales_with_promo3.head(2)

            StoreCode  ProductCode  SalesQuantity Promotion
Date
2015-05-24          2            9              0    Promo3
2015-05-24         35            9              0    Promo3

In [ ]:
sales_with_promo4.tail(2)   #they are ok

Please ignore the below three code chunks. I tried to find an automatic way to obtain the sales with no promotions but I failed to find one. I did it manually.

In [ ]:
#set (dataframe) differences to find the dates with no promotions offered

#difference_between_maindata_and_promo1 = pd.concat([data_1a,sales_with_promo1_date]).drop_duplicates(keep=False)
#difference_between_maindata_and_promo2 = pd.concat([data_1a,sales_with_promo2_date]).drop_duplicates(keep=False)
#difference_between_maindata_and_promo3 = pd.concat([data_1a,sales_with_promo3_date]).drop_duplicates(keep=False)
#difference_between_maindata_and_promo4 = pd.concat([data_1a,sales_with_promo4_date]).drop_duplicates(keep=False)

In [ ]:
#frames = [difference_between_maindata_and_promo1,difference_between_maindata_and_promo2,
 #         difference_between_maindata_and_promo3,difference_between_maindata_and_promo4]

#no_promotion_dates = pd.concat(frames)

In [ ]:
#def dataframe_difference(df1: data_1a, df2: sales_with_promo1_date, which=None):
 #   """Find rows which are different between two DataFrames."""
  #  comparison_df = df1.merge(
   #     df2,
    #    indicator=True,
     #   how='outer'
   # )
    #if which is None:
     #   diff_df1 = comparison_df[comparison_df['_merge'] != 'both']
    #else:
     #   diff_df1 = comparison_df[comparison_df['_merge'] == which]
   
    #return diff_df1

In [ ]:
sales_with_nopromotion1_date = data_1a.loc['2015-1-1':'2015-2-9']    #I tried to find an easier/automatic way to do this
sales_with_nopromotion2_date = data_1a.loc['2015-2-18':'2015-3-14']  #but I couldn't, I will do it manually.
sales_with_nopromotion3_date = data_1a.loc['2015-3-23':'2015-5-23']
sales_with_nopromotion4_date = data_1a.loc['2015-6-2':'2015-6-20']
sales_with_nopromotion5_date = data_1a.loc['2015-6-29':'2015-8-3']  #sales with no promotion offered

In [ ]:
sales_with_nopromotion1 = data_1a.loc['2015-1-1':'2015-2-9']    #this code chunk is to add 'NoPromotion' column
sales_with_nopromotion2 = data_1a.loc['2015-2-18':'2015-3-14']
sales_with_nopromotion3 = data_1a.loc['2015-3-23':'2015-5-23']
sales_with_nopromotion4 = data_1a.loc['2015-6-2':'2015-6-20']
sales_with_nopromotion5 = data_1a.loc['2015-6-29':]  #sales with no promotion offered

In [ ]:
sales_with_nopromotion1.insert(3, "Promotion", 'NoPromotion', True)
sales_with_nopromotion2.insert(3, "Promotion", 'NoPromotion', True)
sales_with_nopromotion3.insert(3, "Promotion", 'NoPromotion', True)
sales_with_nopromotion4.insert(3, "Promotion", 'NoPromotion', True)
sales_with_nopromotion5.insert(3, "Promotion", 'NoPromotion', True)

In [ ]:
sales_with_nopromotion1.head(2)   #quickly checking if all are ok

            StoreCode  ProductCode  SalesQuantity    Promotion
Date
2015-07-31        261          315              1  NoPromotion
2015-07-31        295          315              1  NoPromotion

In [ ]:
sales_with_nopromotion2.head(2)

In [ ]:
sales_with_nopromotion3.head(2)

In [ ]:
sales_with_nopromotion4.head(2)

In [ ]:
len(data_1a)

1873618

In the below two code chunks, I check whether the sales with promotions and no promotion add up to total sales(by checking row count of data frames)

In [ ]:
a1 = len(sales_with_nopromotion1) 
a2 = len(sales_with_nopromotion2) 
a3 = len(sales_with_nopromotion3) 
a4 = len(sales_with_nopromotion4) 
a5 = len(sales_with_nopromotion5) 

a = (a1+a2+a3+a4+a5)

print(a)

1562695

In [ ]:
b1 = len(sales_with_promo1)
b2 = len(sales_with_promo2)
b3 = len(sales_with_promo3)
b4 = len(sales_with_promo4)

b = b1+b2+b3+b4

print(b)

310923

In [ ]:
print(a+b)

1873618

In [ ]:
len(data_1a)

1873618

 ***They match!*** It is time to merge them.

In [ ]:
data1 = pd.DataFrame()

data1= data1.append(sales_with_nopromotion1)
data1= data1.append(sales_with_promo1)
data1= data1.append(sales_with_nopromotion2)
data1= data1.append(sales_with_promo2)
data1= data1.append(sales_with_nopromotion3)
data1= data1.append(sales_with_promo3)
data1= data1.append(sales_with_nopromotion4)
data1= data1.append(sales_with_promo4)
data1= data1.append(sales_with_nopromotion5)

In [ ]:
len(data1) #everything is ok, dimension is the same as our old 'assignment.1a'

1873618

In [ ]:
print(data1)

            StoreCode  ProductCode  SalesQuantity    Promotion
Date
2015-01-01          8            9             -1  NoPromotion
2015-01-01        131            9              1  NoPromotion
2015-01-01        144            9              2  NoPromotion
2015-01-01        203            9              2  NoPromotion
2015-01-01        256            9              0  NoPromotion
...               ...          ...            ...          ...
2015-07-30        292          315              0  NoPromotion
2015-07-31         12          315              1  NoPromotion
2015-07-31        104          315              1  NoPromotion
2015-07-31        261          315              1  NoPromotion
2015-07-31        295          315              1  NoPromotion

[1873618 rows x 4 columns]

Up to now, I have added Promotion information to the sales with respect to time period that the promotion is offered.

In [ ]:
data1.to_csv('data.csv')

In [ ]:
from google.colab import files
files.download('data.csv')

**I have cleaned my data and exported as a csv file. From now, I will continue to analyze data with R in Rstudio. I think R is more practical than Python in terms of exploratory data analysis and regression analysis.**

---

---